<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<button onclick="saludar()">Hola</button>
<ion-button onclic="saludar()">Saludar</ion-button>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="btn">1</div>
    </ion-col>
    <ion-col>
      <div class="btn">1</div>
    </ion-col>
    <ion-col>
      <div class="btn">1</div>
    </ion-col>
    <ion-col>
      <div class="btn">1</div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
